# dependencies
node_modules/

# logs
lit-plugin.log*

# environment variables
.env

# macOS-specific files
.DS_Store

# npm package-lock files
package-lock.json

# compressed images

# vercel files
.vercel/*
