# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lit-plugin.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# ig images
to_compress/ig/

# ig posts
public/json/igPosts.json

# ig posts
public/json/gigs.json

# ig token
ig_token.txt

# github token
github_token.txt

# vercel token
vercel_token.txt

# npm package-lock files
package-lock.json
