# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lit-plugin.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# ig images
to_compress/ig/

# ig posts
public/json/igPosts.json

# ig token
ig_token

# github token
github_token
