---
import TmUserSvg from 'src/components/Astro/TmUserSvg.astro';
import TmCrossSvg from 'src/components/Astro/TmCrossSvg.astro';
import { TmUser } from 'src/components/Lit/TmUser';
import { TmModal } from 'src/components/Lit/TmModal';
interface Props {
  username: string | null;
}
const { username } = Astro.props;
---

<header>
  <a class="title" href="admin">TAGO ADMIN</a>
  {
    username && (
      <div class="user">
        <TmUser client:visible>
          <span slot="username">{username}</span>
          <TmUserSvg slot="user-icon" />
        </TmUser>
      </div>
    )
  }
</header>
<TmModal client:visible>
  <TmCrossSvg />
</TmModal>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: blueviolet;
    color: white;
    margin-bottom: 20px;
  }

  .title {
    font-size: 30px;
    color: white;
    text-decoration: none;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 180px;
  }

  span {
    margin-right: 10px;
    font-size: 15px;
    overflow-wrap: anywhere;
    cursor: pointer;
  }
</style>
