---
import { Image } from 'astro:assets';
interface Props {
  data: {
    img: string;
    title: string;
    url: string;
  }[];
}

const { data } = Astro.props;
---

<div>
  {
    data.map((item) => (
      <a href={item.url} target="_blank">
        <Image src={item.img} alt={item.title} width={70} height={70} />
      </a>
    ))
  }
</div>

<style>
  img {
    scale: 0.9;
    transition: scale 0.2s;
  }

  img:hover {
    scale: 1;
  }

  div {
    background-color: whitesmoke;
    border-top: 1px solid rgb(50 50 50);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
  }
</style>
