---
import TmImage from 'src/components/Astro/TmImage.astro';

interface Props {
  data: {
    img: string;
    title: string;
    url: string;
  }[];
}

const { data } = Astro.props;
---

<div>
  {
    data.map((item) => (
      <a href={item.url} target="_blank">
        <TmImage classes="socialItem" src={item.img} alt={item.title} />
      </a>
    ))
  }
</div>

<style>
  div {
    background-color: whitesmoke;
    border-top: 1px solid rgb(50 50 50);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
  }
</style>
