---
const { dictionary } = Astro.props;
---

<span class="title section">{dictionary.title}</span>
<p>{dictionary.text}</p>

<style>
  .title {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  .section {
    font-size: 1.5em;
    margin: 10px 0;
  }

  p {
    white-space: pre-line;
    text-align: justify;
  }
</style>
