---
interface Props {
  href: string;
  classes?: string;
  target?: string;
}

const { href, classes, target } = Astro.props;
---

<a class={classes ? classes : 'normal'} href={href} target={target ? target : '_blank'}><slot /></a>

<style>
  a {
    color: black;
  }

  a:hover {
    color: #06f;
  }

  .normal {
    text-decoration: none;
  }

  .contact {
    font-size: 17px;
  }

  .igPost {
    color: purple;
    font-weight: bold;
  }

  .nav {
    font-size: 25px;
    text-decoration: none;
  }
</style>
