---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<span class="title section">{title}</span>

<style>
  .title {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  .section {
    font-size: 1.5em;
    margin: 10px 0;
  }
</style>
