---
import { type Gig } from '../types/gigs';

interface Props {
  data: Gig[];
}

const { data } = Astro.props;
---

{
  data.map((gig: Gig) => {
    return (
      <li>
        <>
          {gig.url ? (
            <a href={gig.url} target="_blank">
              <span>{gig.name}</span>
            </a>
          ) : (
            <span>{gig.name}</span>
          )}
        </>
        <span>{gig.dateToShow}</span>
      </li>
    );
  })
}

<style>
  a {
    color: darkblue;
  }

  a:hover {
    color: #06f;
  }

  li {
    display: flex;
    justify-content: space-between;
    min-height: 48px;
    align-items: center;
  }
</style>
