---
import { ViewTransitions } from 'astro:transitions';
import TmAdminHeader from 'src/components/Astro/TmAdminHeader.astro';
interface Props {
  username: string | null;
}
const { username } = Astro.props;
---

<html>
  <head>
    <title>Tago Admin</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <meta charset="UTF-8" />
    <ViewTransitions />
    <style>
      * {
        touch-action: manipulation;
      }
      body {
        font-family: monospace;
        margin: 0;
        background-color: #f4c8fe;
        overflow: hidden;
      }

      main {
        margin: 15px;
      }
    </style>
  </head>
  <body>
    <TmAdminHeader username={username} />
    <main><slot /></main>
  </body>
</html>
